
@font-face {
    font-family: 'ductusregular';
    src: url('font/ductusregular-webfont.woff2') format('woff2'),
         url('font/ductusregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
      

}
body { 
        background:rgb(26, 26, 26)
    }
.tour__dessin {
    position: relative;
    height:80% ;
    width: 80%;
padding-left: 4%;
padding-right: 10%;
padding-top: 4%;
}




.V path {
    fill: rgb(208, 161, 114);
    stroke: rgb(78, 75, 72);
    stroke-width: 0.5px;
}

    
    .V .is-active path {
    stroke: rgb(215,94,51); }

    .P path {
        fill: rgb(26, 26, 26);
        stroke: rgb(26, 26, 26);
        stroke-width: 0.5px;
        }
    
        
        .P .is-active path {
            opacity: 1;
        stroke: rgb(215,94,51); }
        

        .A path {
            fill: rgb(26, 26, 26);
            stroke: rgb(26, 26, 26);
            stroke-width: 0.5px;
            opacity: 0;
        }
        
            
            .A .is-active path {
                opacity: 1;
            stroke: rgb(215,94,51); 
         
            stroke-width: 0.03em;
           
      
        }

            .B path {
                
                fill: rgb(26, 26, 26);
                stroke: rgb(26, 26, 26);
                stroke-width: 0.5px;
                opacity: 0;}
            
                
                .B .is-active path {
                    opacity: 1;
                stroke: rgb(215,94,51);
                stroke-width: 0.03em; }


.C path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

    
    .C .is-active path {
        opacity: 1;
    stroke: rgb(215,94,51); 
    stroke-width: 0.03em;

}
    
    


.D path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;
}

.D .is-active path {
    stroke: rgb(215,94,51);
    opacity: 1;
    stroke-width: 0.03em;
    
}

.E path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

.E .is-active path {
    opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;
        
        
}

.F path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.03em;
        opacity: 0;}

.F .is-active path {   
    opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;
}

.S path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
        stroke-width: 0.5px;
        opacity: 0;}

.S .is-active path {   
    opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;
        
     
    
}

        

.X path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
        stroke-width: 0.5px;
        opacity: 0;}

.X .is-active path {   
    opacity: 1;
        stroke: rgb(255, 65, 2);
        stroke-width: 0.03em;
    
}

.G path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
opacity: 0;}


 
.G .is-active path {
        stroke: rgb(215,94,51);
        opacity: 1;
        stroke-width: 0.03em;
    
}

.H path {
    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
        stroke-width: 1px;
        opacity: 0;}

.H .is-active path {
        stroke: rgb(215,94,51);
        opacity: 1;
        stroke-width: 0.03em;
    
}

.I path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 1px;
    opacity: 0;}

.I .is-active path {
    opacity: 1;
    stroke-width: 0.03em;
         stroke: rgb(215,94,51);
        
    
}

.J path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

.J .is-active path {
    opacity: 1;
        position: relative;
        stroke-width: 0.03em;
        stroke: rgb(215,94,51);
        
    
}

.K path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;
}

.K .is-active path {
        position: relative;
        opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;
        
    
}
.L path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

.L .is-active path {
        position: relative;
        opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;
        
    
}

.M path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

.M .is-active path {
        position: relative;
        opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;}

        
.N path {    fill: rgb(26, 26, 26);
    stroke: rgb(26, 26, 26);
    stroke-width: 0.5px;
    opacity: 0;}

.N .is-active path {
        position: relative;
        opacity: 1;
        stroke: rgb(215,94,51);
        stroke-width: 0.03em;}
     
        .O path {    fill: rgb(26, 26, 26);
            stroke: rgb(26, 26, 26);
            stroke-width: 0.5px;
            opacity: 0;}
        
        .O .is-active path {
                position: relative;
                opacity: 1;
                stroke: rgb(215,94,51);
                stroke-width: 0.03em;
    
}



.tour__list  {
    position: relative;
    box-sizing:border-box;
    left: 800px;
    bottom: 164px;
font-family:'ductusregular';
word-spacing: 120px;
    font-size: 0.1em;
}



.list-V a {

    color : rgb(255, 136, 0); 
    font-family:'ductusregular';
    font-size: 2em;}

.list-V a.is-active {

     color :  rgb(215,94,51);
    font-family:'ductusregular';
    font-size: 2em;
        
          }  

          
.list-P a {

    color : rgb(255, 136, 0); 
    font-family:'ductusregular';
    font-size: 2em;}

    .list-P a.is-active {
     
     color :  rgb(215,94,51);
    font-family:'ductusregular';
    font-size: 2em;
        
          }  
      

          
.list-A a {
     
    color : rgb(255, 136, 0); 
    font-family:'ductusregular';
    font-size: 2em;}

    .list-A a.is-active {
     color :  rgb(215,94,51);
    font-family:'ductusregular';
    font-size: 2em;
        
          }  
          
.list-B a {
        color : rgb(255, 94, 0);
        font-size: 2em;
       
    font-family:'ductusregular';
    font-size: 2em;
}

    
        .list-B a.is-active {
        color :  rgb(255, 140, 0);
        font-family:'ductusregular';
        
          }

          
      .list-C a {
     
    color : rgb(255, 115, 0); 
    font-family:'ductusregular';
    font-size: 2em;
   
}
    
        .list-C a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }


          
      .list-D a {
        color : rgb(255, 94, 0);

    font-family:'ductusregular';
    font-size: 2em;}

     
    .list-D a.is-active {
        color :  rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-E a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-E a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }
         
          .list-F a {
     
            color : rgb(255, 94, 0);

            font-family:'ductusregular';
            font-size: 2em;}
    
        .list-F a.is-active {

        color : rgb(250,228,95);
        font-family:'ductusregular';
        
          }

             
          .list-G a {
            color : rgb(255, 94, 0);

      font-family:'ductusregular';
            font-size: 2em;}
        .list-G a.is-active {
        color : rgb(255, 106, 0);
        font-family:'ductusregular';
        
          }

          .list-S a {
            color : rgb(255, 94, 0);

      font-family:'ductusregular';
            font-size: 2em;}
        .list-S a.is-active {
        color : rgb(255, 106, 0);
        font-family:'ductusregular';
        
          }


          .list-X a {
            color : rgb(255, 94, 0);

      font-family:'ductusregular';
            font-size: 2em;}

        .list-X a.is-active {
        color :  rgb(255, 136, 0);
        font-family:'ductusregular';
        
          }
          .list-H a {
            color : rgb(255, 94, 0);

      font-family:'ductusregular';
            font-size: 2em;}

        .list-H a.is-active {
        color :  rgb(255, 136, 0);
        font-family:'ductusregular';
        
          }

          .list-I a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-I a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-J a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-J a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-K a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-K a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-L a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-L a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-M a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-M a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-N a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-N a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }

          .list-O a {
            color : rgb(255, 94, 0);
          
        font-family:'ductusregular';
        font-size: 2em;}



    
        .list-O a.is-active {
        color : rgb(255, 94, 0);
        font-family:'ductusregular';
        
          }


       
   


              
                
    



   