
@font-face {
    font-family: 'ductusregular';
    src: url('font/ductusregular-webfont.woff2') format('woff2'),
         url('font/ductusregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
      

}
body { 
        background:#e8e8e8;
    }



.tour__dessin {
    position: relative;
    left: 100px;
    bottom: -100px;
    width: 50%;}

.B path {
    fill: rgb(239, 237, 246);
    stroke: #2b2b4b;
    stroke-width: 0.5px;
}

    .B .is-active path {
        stroke :#2b2b4b;
        stroke-width: 1px;
    
}

.C path {
    fill: rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.5px;}

    
    .C .is-active path {
    stroke: #2b2b4b;
    stroke-width: 1px;
        
    
}

.D path {
    fill: rgb(239, 237, 246);
    stroke: #2b2b4b;
    stroke-width: 0.5px;}

    
.D .is-active path {
        stroke: #2b2b4b;
        stroke-width:1px;
        
    
}

.E path {
    fill:rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.5px;}

    
    .E .is-active path {
        stroke:#2b2b4b;
        stroke-width: 1px;
        
}

.F path {
    fill: rgb(239, 237, 246);
        stroke:#2b2b4b;
        stroke-width: 0.5px;}

    
    .F .is-active path {   
        stroke: #2b2b4b;
        stroke-width: 1px;
     
    
}

.G path {
    fill: rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.5px;}

    
    .G .is-active path {
        stroke:#2b2b4b;
        stroke-width: 1px;
        
    
}

.H path {
    fill:rgb(239, 237, 246);
        stroke: #2b2b4b;
        stroke-width: 0.5px;}

    
    .H .is-active path {
        stroke: #2b2b4b;
            stroke-width: 1px;
        
        
    
}

.I path {fill:rgb(239, 237, 246);
    stroke: #2b2b4b;
    stroke-width: 0.5px;}

    
    .I .is-active path {
        stroke: #2b2b4b;
        stroke-width: 1px;
    
}


.A a {
    color : #2b2b4b;;
    position: relative;
    left: 800px;
    bottom: 164px;
font-family:'ductusregular';
word-spacing: 120px;
    font-size: 0.5em;}

    .A a.is-active {

    color : #2b2b4b;;
    font-family:'ductusregular';
    
      }

.B a {
    color : #2b2b4b;
    position: relative;
    left: 800px;
    bottom: 164px;
font-family:'ductusregular';
word-spacing: 120px;
    font-size: 0.5em;}

    .B a.is-active {

    color : #2b2b4b;
    font-family:'ductusregular';
    
      }
  
.C a {
        color : #2b2b4b;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-C a.is-active {
        color :  #2b2b4b;
        font-family:'ductusregular';
        
          }    

.C a {
        color :#2b2b4b;
         stroke-width: 0.5px;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-C a.is-active {
        color : #2b2b4b;
        
        font-family:'ductusregular' ;
       
        
          }

          
      .list-D a {
        color : #2b2b4b;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size:#2b2b4b;}
    
        .list-D a.is-active {
        color : #2b2b4b;;
        font-family:'ductusregular';
        
          }

          
      .list-E a {
        color :#2b2b4b;;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-E a.is-active {
        color :#2b2b4b;;
        font-family:'ductusregular';
        
          }

          
      .list-F a {
        color : #2b2b4b;;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-F a.is-active {
        color : #2b2b4b;;
        font-family:'ductusregular';
        
          }

          
      .list-G a {
        color :#2b2b4b;;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em; }
    
        .list-G a.is-active {

        color :#2b2b4b;;
        font-family:'ductusregular';
        
          }

          
      .list-H a {
        color :#2b2b4b; ;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-H a.is-active {
        color : #2b2b4b;;
        font-family:'ductusregular';
        
          }

          
      .list-I a {
        color :#2b2b4b;;
        position: relative;
        left: 800px;
        bottom: 164px;
    font-family:'ductusregular';
    word-spacing: 120px;
        font-size: 0.5em;}
    
        .list-I a.is-active {
        color :  #2b2b4b;;
        font-family:'ductusregular';
        
          }







    