
@font-face {
    font-family: 'ductusregular';
    src: url('font/ductusregular-webfont.woff2') format('woff2'),
         url('font/ductusregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 

}



.tour__list  {
    position: absolute;
    padding: left 90%;
    bottom: 33%;
font-family:'ductusregular';
border-spacing: 100px;
    font-size: 3vh;
    border-collapse: collapse;
    border-color: #e8e8e8;
}

        caption, th, td {
        padding: 2.5vh;
        padding-top: 8vh;
        border-collapse: collapse;
        border-color: #e8e8e8;
        }

body { 
        background: #e8e8e8;
    }


    body { 
        background:#e8e8e8;
    }
.tour__dessin {
    position: absolute;
    height:150% ;
    width:150%;
padding-left: 4%;
padding-right: 10%;
padding-top: 4%;
}




.V path {
    fill: #e8e8e8;
    stroke:#2b2b4b;
    stroke-width: 0.08px;

}

    
    .V .is-active path {
     fill: #e8e8e8;
    stroke:#2b2b4b;
    stroke-width: 0.08px; }

    .P path {
        fill: #e8e8e8;
        stroke: #2b2b4b;
        stroke-width: 0.5px;
        opacity: 0;

        }
    
        .P .is-active path {
            opacity: 1;
            stroke: #2b2b4b;
            stroke-width: 0.5px;
    }
        

        .A path {
            fill: #e8e8e8;
            stroke: #2b2b4b;
            stroke-width: 0.5px;
            opacity: 0;
            
        }
        
            
            .A .is-active path {
                opacity: 1;
                stroke: #2b2b4b;
                stroke-width: 0.5px;
           
      
        }

            .B path {
                
                fill: #e8e8e8;
                stroke: #2b2b4b;
                stroke-width: 0.5px;
                opacity: 0;}
            
                
                .B .is-active path {
                    opacity: 1;
                    stroke: #2b2b4b;
                    stroke-width: 0.5px;}


.C path {
    fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}

    
    .C .is-active path {
        opacity: 1;
        stroke: #2b2b4b;
        stroke-width: 0.5px;

}
    
    


.D path {
    fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;
}

.D .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    
}


.X path {
    fill: #e8e8e8;
        stroke: #2b2b4b;
        stroke-width: 0.5px;
        opacity: 0;}

.X .is-active path {   
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    }
.E path {
    fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}

.E .is-active path {
    opacity: 1;
        stroke: #2b2b4b;
        stroke-width: 0.5px;
        
}

.F path {
    fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}

.F .is-active path {   
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
}


.G path {
    fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}


 
.G .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    
}

.H path {
    fill: #e8e8e8;
        stroke: #2b2b4b;
        stroke-width: 0.5px;
        opacity: 0;}

.H .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    
}

.I path {      fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}

.I .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    
}

.J path {     fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
    opacity: 0;}

.J .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
        
    
}


.K path {     fill: #e8e8e8;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
   }

.K .is-active path {
    opacity: 1;
    stroke: #2b2b4b;
    stroke-width: 0.5px;
        
    
}




.tour__list  {
    position: relative;
    box-sizing:border-box;
    left: 1850px;
    bottom: px;
font-family:'ductusregular';
word-spacing: 120px;
    font-size: 0.1em;
}



.list-V a  { color : #2b2b4b;; 
    font-family:'ductusregular';
   }

.list-V a.is-active  { color : #2b2b4b;; 
    font-family:'ductusregular';
   }
          
.list-P a  { color : #2b2b4b;; 
    font-family:'ductusregular';
   }

    .list-P a.is-active  { color : #2b2b4b;; 
        font-family:'ductusregular';
       }
      

          
.list-A a  { color : #2b2b4b;; 
    font-family:'ductusregular';
   }

    .list-A a.is-active  { color : #2b2b4b;
        font-family:'ductusregular';
       }
          
.list-B a 
    { color : #2b2b4b;
        font-family:'ductusregular';
       }


    
        .list-B a.is-active 
            { color : #2b2b4b;
                font-family:'ductusregular';
               }
        
          

          
      .list-C a {
        color : #2b2b4b;; 
            font-family:'ductusregular';
        
   
}
    
        .list-C a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


          
      .list-D a { color : #2b2b4b;
        font-family:'ductusregular';
       }


     
    .list-D a.is-active { color : #2b2b4b;
        font-family:'ductusregular';
       }



          
          .list-X a{ color : #2b2b4b;
            font-family:'ductusregular';
           }


        .list-X a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-E a { color : #2b2b4b;
            font-family:'ductusregular';
           }

    
        .list-E a.is-active 
        { color : #2b2b4b;
            font-family:'ductusregular';
           }

          .list-F a { color : #2b2b4b;
            font-family:'ductusregular';
           }

    
        .list-F a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


             
          .list-G a{ color : #2b2b4b;
            font-family:'ductusregular';
           }

        .list-G a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


.list-H a { color : #2b2b4b;
    font-family:'ductusregular';
   }

        .list-H a.is-active 
            { color : #2b2b4b;
                font-family:'ductusregular';
               }
    
          

          .list-I a 
            { color : #2b2b4b;
                font-family:'ductusregular';
               }
    



    
        .list-I a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-J a { color : #2b2b4b;
            font-family:'ductusregular';
           }




    
        .list-J a.is-active{ color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-K a { color : #2b2b4b;
            font-family:'ductusregular';
           }
    
        .list-K a.is-active{ color : #2b2b4b;
            font-family:'ductusregular';
           }

          .list-L a{ color : #2b2b4b;
            font-family:'ductusregular';
           }



    
        .list-L a.is-active{ color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-M a{ color : #2b2b4b;
            font-family:'ductusregular';
           }


    
        .list-M a.is-active{ color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-N a { color : #2b2b4b;
            font-family:'ductusregular';
           }


        .list-N a.is-active { color : #2b2b4b;
            font-family:'ductusregular';
           }


          .list-O a{ color : #2b2b4b;
            font-family:'ductusregular';
           }


        .list-O a.is-active 
        { color : #2b2b4b;
            font-family:'ductusregular';
           }



       
   


              
                
    



   