
@font-face {
    font-family: 'ductusregular';
    src: url('font/ductusregular-webfont.woff2') format('woff2'),
         url('font/ductusregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
      

}
body { 
        background:#e8e8e8;
    }



.tour__dessin {
    position: relative;
    left: 100px;
    bottom: -100px;
    width: 50%;}


    .X path {
        fill: rgba(239, 237, 246, 0);
        stroke: #2b2b4b;
        stroke-width: 0.2px;
    }
    
        .X.is-active path {
            stroke :#2b2b4b;
            stroke-width: 1px;
        
    }




.B path {
    fill: rgba(239, 237, 246, 0);
    stroke: #2b2b4b;
    stroke-width: 0.2px;
}

    .B .is-active path {
        stroke :#2b2b4b;
        stroke-width: 1px;
    
}

.C path {
    fill: rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.2px;
}
    
    .C .is-active path {
    stroke: #2b2b4b;
    stroke-width: 1px;
        
    
}

.D path {
    fill: rgb(239, 237, 246);
    stroke: #2b2b4b;
    stroke-width: 0.2px;
}

    
.D .is-active path {
        stroke: #2b2b4b;
        stroke-width:1px;
        
    
}

.E path {
    fill:rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.2px;
}

    
    .E .is-active path {
        stroke:#2b2b4b;
        stroke-width: 1px;
        
}

.F path {
    fill: rgb(239, 237, 246);
        stroke:#2b2b4b;
        stroke-width: 0.2px;
}

    
    .F .is-active path {   
        stroke: #2b2b4b;
        stroke-width: 1px;
     
    
}

.G path {
    fill: rgb(239, 237, 246);
    stroke:#2b2b4b;
    stroke-width: 0.2px;
}

    
    .G .is-active path {
        stroke:#2b2b4b;
        stroke-width: 1px;
        
    
}

.H path {
    fill:rgb(239, 237, 246);
        stroke: #2b2b4b;
        stroke-width: 0.2px;
    }

    
    .H .is-active path {
        stroke: #2b2b4b;
            stroke-width: 1px;
        
        
    
}

.I path {fill:rgb(239, 237, 246);
    stroke: #2b2b4b;
    stroke-width: 0.2px;
}

    
    .I .is-active path {
        stroke: #2b2b4b;
        stroke-width: 1px;
    
}



.tour__list  {
    position: absolute;
    box-sizing:border-box;
   left: 70%;
   top: 20%;
font-family:'ductusregular';
border-spacing: 100px;
    font-size: 3vh;
    border-collapse: collapse;
    border-color: #e8e8e8;
}





    