


@font-face {
  font-family: 'afacad';

       src:
       url("/Bienvenue/indroduction/font/Afacad-Regular.ttf") format("truetype");
    
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ductusregular';
  src: url('font/ductusregular-webfont.woff2') format('woff2'),
       url('font/ductusregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family:'afacad';
  font-size: 25px;
  
    height: 150px;
    width: 1000px;
    block-size: 300px 3000px;
    text-align: justify;
  }
  p {
    margin-bottom: 2em;
  }
.lien

{font-family:'afacad';
        display: block;
        margin-left: auto;
        margin-right: auto ;
font-size: 20px; }

.text {
 
color: blue;
  font-size: 20px; 
}

.reflexion {
 
  color: rgb(255, 77, 0);
    font-size: 10px; 
  }

h1
{
 font-family: 'ductusregular';
  color: blue;
    font-size: 20px; 
  }
