/*html*/
<body> 
<div class="box">
        <div class="circle"></div>
        <p>hello</p>
    </div>


/*css*/
.box {position:relative;  
  left: 60px;
  bottom: -100px;
    display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 400px;
color: #4d4444;
/*background : red; */
cursor: pointer;
transition: transform 0.1s cubic-bezier(0.23,1.83,0.42,1.19);}
.box:hover {transform: scale(1.2);}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background:rgb(255, 200, 233);
    border: 0.5px solid #f1f1f1;
    animation: 10s linear infinite alternate boxMagic,
       15s linear infinite spinning;
}
@keyframes boxMagic {
    from {
        box-shadow: 

        0 0 0  rgb(234,178,177);
    
        }
        to {
            box-shadow: 

         
            200px 0 0  rgb(234,178,177);
}
}
@keyframes spinning {
    from {transform:rotate(0deg);
    }
to
{transform:rotate(360deg);}}


/* Créer une animation */
@keyframes monAnimation {
  0% {
    color: black;
  }
  
  10% {
    color: purple;
  }
  
  90% {
    color: green;
  }
  
  100% {
    color: red;
    transform: scale(1.1);
  }
}
@-webkit-keyframes monAnimation {
  0% {
    color: black;
  }
  
  10% {
    color: purple;
  }
  
  90% {
    color: green;
  }
  
  100% {
    color: red;
    transform: scale(1.1);
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

