
@font-face {
  font-family: 'ductusregular';
  src: url('font/ductusregular-webfont.woff2') format('woff2'),
       url('font/ductusregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1
{  font-family:'ductusregular';

  font-size: 20px;
  }


.tour__list
{
  position: fixed;
  padding-left: 1000px;
  text-align: justify;
  
  font-family:'ductusregular';      
font-size: 12px;
color : #0fd7ff;
}


        img {
          width : 500px;
          height : 500px;
          }
       
          .A path {
         opacity: 0;
        }
        
            .A .is-active path {
              opacity: 1;
                stroke :#18df1e;
                stroke-width: 1px;
            
        }

        
.list-A a

{ color : #ff0000;; 
    font-family:'ductusregular';
   }

.list-A a.is-active    { color : #55ff00;; 
font-family:'ductusregular';
}
        
    
 
 
img

 {position : absolute; top : 50px; left : 10%; }

      
 .tour__dessin {

  position: relative;
  left: 470px;
  bottom: -80px;
  width: 8%;
  fill: rgba(72, 232, 24, 0);
  opacity: 0.5;
  stroke: #2b2b4b;
  stroke-width: 0.5px;
}

      
        